[package]
name = "ruaft"
version = "0.1.0"
description = "Raft implemented in Rust"
authors = ["Jing Yang <ditsing@gmail.com>"]
edition = "2018"
license = "MIT"
keywords = ["raft", "consensus-protocol"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bincode = "1.3.1"
bytes = "0.5.6"
crossbeam-utils = "0.8"
futures = { version = "0.3.5" }
labrpc = { path = "../labrpc" }
parking_lot = "0.11.0"
rand = "0.7.3"
serde = "1.0.116"
serde_derive = "1.0.116"
tokio = { version = "0.3", features = ["rt-multi-thread", "time", "parking_lot"] }

[dev-dependencies]
anyhow = "1.0"
futures = { version = "0.3.5", features = ["thread-pool"] }
scopeguard = "1.1.0"
