[package]
name = "ruaft"
version = "0.1.0"
authors = ["Jing Yang <ditsing@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bincode = "1.3.1"
crossbeam-utils = "0.7.2"
futures = { version = "0.3.5" }
labrpc = { path = "../labrpc" }
parking_lot = "0.11.0"
rand = "0.7.3"
serde = "1.0.116"
serde_derive = "1.0.116"
tokio = { version = "0.2.22", features = ["rt-threaded", "sync", "time"] }

[dev-dependencies]
anyhow = "1.0"
futures = { version = "0.3.5", features = ["thread-pool"] }
