[package]
name = "kvraft"
version = "0.1.0"
edition = "2018"

[dependencies]
anyhow = "1.0"
bincode = "1.3.1"
bytes = "1.0"
labrpc = { path = "../../labrpc" }
parking_lot = "0.11.1"
rand = "0.8"
ruaft = { path = "../" }
linearizability = { path = "../linearizability" }
serde = "1.0.116"
serde_derive = "1.0.116"
tokio = { version = "1.0", features = ["rt-multi-thread", "time", "parking_lot"] }

[dev-dependencies]
scopeguard = "1.1.0"
